@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Noto Serif', sans-serif;
}

/*-- Nav --*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem; 
    background: rgba(0,0,0,0)!important; /*-- Override Bootstrap --*/
}

#nav-btn-white {
    color: white; /*-- Override Bootstrap SCSS Nav Button Color --*/
}

/*.navbar-brand {
    height: 2rem; 
}*/

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0)!important; 
}

.navbar-dark .navbar-nav .navbar-link {
    color: white !important;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(55, 90, 247)!important;
}

/*-- Landing Page --*/
.home-inner img {
    
}

.selection img{
    width: 30%;
    border-radius: 5%;
    height: auto;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.8rem;
    letter-spacing: .3rem;
    text-shadow: .3rem .3rem .8rem black;
    padding-bottom: 1rem; 
}

.caption h3 {
    font-size: 2rem; 
    text-shadow: .2rem .2rem .5rem black;
    padding-bottom: 1.6rem; 
}

.btn-lg {
    border-width: medium; 
    border-radius: 10; 
    padding: .6rem 1.3rem; 
    font-size: 1.1rem;
}

/*-- About Section --*/
.about-bg-img {
    filter: blur(2px);
}

.profile img {
   width: 100%; 
   border-radius: 30%;
}

blockquote i {
    color : rgb(238, 181, 24); 
    margin : 0.5rem; 
}

.profile-hr {
    border-top : .1rem solid rgb(88, 88, 88); 
}

/*-- Contact Font Awesome Buttons --*/

footer {
    background-color: rgb(31, 31, 31);
    color : white; 
    padding : 2rem 0 2rem;
    margin-top : 1rem;
}

footer a {
    color : white;
    margin : 1.5rem 1rem 0 0;
}

footer a:hover {
    color: coral;
}

.email {
    color: goldenrod;
}